---
layout: default
---

<div class="home">

  <h1>Things I'm Writing</h1>

  <ul class="posts">
    {% for post in site.categories.blog limit:3  %}
      <li class="card"><a class="post-link" href="{{ post.url }}">{{ post.title }}</a> <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> </li>
    {% endfor %}
  </ul>

  <h1>Pictures I'm Taking</h1>

  <ul class="pictures">
    {% for post in site.categories.pictures limit:2 %}
      <li class="image-card"> <img src="{{ post.source }}"/> </li>
    {% endfor %}
      <li class="instagram">
      	<div id="icon">
            <div class="top">
                <div class="rainbow">
                    <div class="bow red"></div>
                    <div class="bow yellow"></div>
                    <div class="bow green"></div>
                    <div class="bow blue"></div>
                </div>
            </div>
            <div class="lens"></div>
    	</div>
      </li>
  </ul>
  <br>
  <h1>Articles I'm Reading</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li><span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> <a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Books I'm Reading</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li><span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> <a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>
